= form_for(@institute) do |f|
  p
    = f.label :code, 'Abrevitura'
    = f.text_field :code, required: true, maxlength: 3
  p
    = f.label :name, 'Nombre'
    = f.text_field :name, required: true
  .actions
    = link_to 'Back', institutes_path, class: 'btn blue lighten-3 left'
    = f.submit('Agregar', class: 'right btn blue')
  .clearfix


