h4 = @beneficiary.complete_name
p
  strong Nombre:
  = " #{@beneficiary.first_name}"
p
  strong Apellido:
  = " #{@beneficiary.last_name}"
p
  strong Cedula:
  = " #{@beneficiary.cedula }"
p
  strong N° Actividades:
  = " #{@beneficiary.activities.count}"
- if @beneficiary.activities.any?
  table
    thead
      tr
        th Actividades
        th Área
        th Fecha
        th Hora inicio
        th Hora fin
        th Estado
    tbody
      - @beneficiary.activities.each do |a|
        tr class="#{class_tr(a.status)}"
          td = link_to a.description, a
          td = link_to a.area.name, a.area
          td = l(a.day, format: :long)
          td = a.inicio
          td = a.fin
          td = a.status_humanize
p
  = link_to 'Regresar', beneficiaries_path, class: 'btn blue lighten-3 left' 
  = link_to 'Edición', edit_beneficiary_path(@beneficiary), class: 'right btn blue' 

.clearfix

