= form_for(@area) do |f|
  .input-field
    = f.label :code, 'Código'
    = f.number_field :code, required: true 
  .input-field
    = f.label :name, 'Nombre'
    = f.text_field :name, required: true 
  .row
    .input-field.col.s12
      = f.select(:institute_id, Institute.all.collect {|p| [ p.name, p.id ] }, { include_blank: 'Seleccione un Instituto' }, required: false)
  .input-field
    = link_to 'Back', areas_path, class: 'btn blue lighten-3 left' 
    = f.submit('Agregar', class: 'right btn blue') 
.clearfix


