h4 = @resource.name 
p
  strong Abreviatura:
  = " #{@resource.code}"
p
  strong Estado:
  = " #{@resource.status_humanize }"
p
  strong Descriptión:
  = " #{@resource.description}"
p
  strong Tipo de recurso:
  - if @resource.pedagogic
    |  Pedagógico
  - else
    |  Tecnológico
p
  strong Movil o Fijo:
  - if @resource.movil
    |  Movil
  - else
    |  Fijo
p
  strong Área al que pertenece:
  = " #{@resource.area.name}"

p
  = link_to 'Regresar', resources_path, class: 'btn blue lighten-3 left' 
  = link_to 'Edición', edit_resource_path(@resource), class: 'right btn blue' 
br
br
h5 Incidencias(s) asociados
table
  thead
    tr
      th Observaciones
  tbody
    - @resource.incidences.each do |i|
      tr
        td = i.observations
.clearfix
