nav, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav a.button-collapse{
  left: 20px;
}
.panel-lateral{
  li{
    border: none;
  }
  a {
    color: #757575;
    border-bottom: none;
  }
  i.fa.right {
    color: whitesmoke;
  }

  .collection-item.active{
    a{
      color: white;
    }
  }

  .waves-effect.waves-blue .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: #90caf9;
  }

  .waves-effect.waves-pink .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: #f48fb1;
  }
}

#toast-container {
  margin-bottom: 10px!important;
  z-index: 999999!important;
  top: 130px!important;
  right: 40px!important;
  width: 400px!important;
  height: 60px!important;
}


#toast-container button {
  position: absolute;
  right: 20px;
  top: 14px;
}

#toast-container .toast-message {
  padding-right: 30px;
}

#toast-container>div {
    width: 500px!important;
    margin: 0 0 6px!important;
    padding: 15px 15px 15px 50px!important;
}

.very-small{
  font-size: 12px!important;
}

.hidden{
  display:none;
}


.chosen-container-single .chosen-search input[type="text"] {
  padding: 4px 0px 4px 0px!important;
}

#toast-container{
  right: 5;
  div{
    width: 500px!important;
  }
}

.toast-message{
  word-break: normal!important;
}

.input-field .prefix ~ input,{
  margin-left: 3rem;
}

.simple-calendar .day {
  width: 90px!important;
}

.collapsible-body p {
    margin: 0;
    padding: 0.5rem;
}
