= form_for(@activity) do |f|
  .field
    = f.label :code, 'Código'
    = f.number_field :code
  .field
    = f.label :description, 'Descripción'
    = f.text_field :description, required: true  
  .field
    = f.label :date_start, 'Fecha de Inicio'
    = f.date_field :start_date_field, value: @activity.start_date_field, class: "datepicker", required: true
    = f.time_field :start_time_field, value: @activity.start_time_field, class: "timepicker", required: true
  .field
    = f.label :date_end, 'Fecha de Culminación'
    = f.date_field :end_date_field, value: @activity.end_date_field, class: "datepicker", required: true
    = f.time_field :end_time_field, value: @activity.end_time_field, class: "timepicker", required: true
  .row
    .input-field.col.s12
      = f.select(:event_id, Event.all.collect {|p| [ p.description, p.id ] }, { include_blank: 'Seleccione si pertenece a algún evento' }, required: false)
  .input-field
    = link_to 'Back', :back, class: 'btn blue lighten-3 left'
    = f.submit('Agregar', class: 'right btn blue')
.clearfix

