h4 
  | Listado de Actividades
  = link_to "<i class='material-icons add'></i>".html_safe, new_activity_path, class: 'btn-floating btn-large waves-effect waves-light green accent-4 right'
table#datatable
  thead
    tr
      th Descripción
      th Day
      th Hora de Inicio
      th Hora de Culminación
      th Evento
      th

  tbody
    - @activities.each do |activity|
      tr
        td = activity.description
        td = l(activity.day, format: :default)
        td = l(activity.time_start, format: :long)
        td = l(activity.time_end, format: :long)
        td = activity.event.description if activity.event.present?
        td
          = link_to "<i class='material-icons search'></i>".html_safe, activity , class: 'btn btn-floating blue'
          = link_to "<i class='material-icons create'></i>".html_safe, edit_activity_path(activity), class: 'btn btn-floating yellow accent-4'
          = link_to "<i class='material-icons delete'></i>".html_safe, activity, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-floating red'

- content_for :javascript
  = javascript_include_tag 'tables'

javascript:
  $(document).ready(function(){
    $('select').addClass('browser-default');
  });
